<div>
    <section>
        // fix add to favs button, it's ugly
        <% artists.forEach(artist => { %>
            <h1>
                <%= artist.strArtist %>
            </h1>
            <form method="POST" action="/users/profile">
                <input type="hidden" name="artist" value="<%= artist.strArtist %>">
                <input type="submit" value="Add Fav">
            </form>
            <% }) %>
    </section>
    <section>
        <% artists.forEach(artist => { %>
            <h2>
                <a href="<%= artist.strArtistThumb %>">
                  <img src="<%= artist.strArtistThumb %>">
                </a>
            </h2>
            <% }) %>
    </section>
    <section>
        <% artists.forEach(artist => { %>
            <h2>
                <%= artist.strGenre %>
            </h2>
            <% }) %>
    </section>
    <section>
        <% artists.forEach(artist => { %>
            <p>
                <%= artist.strLabel %>
            </p>
            <% }) %>
    </section>
    <section>
        <% artists.forEach(artist => { %>
            <p>
                <a href="http://<%= artist.strWebsite %>">
                    <%= artist.strWebsite %>
                </a>
            </p>
            <% }) %>
    </section>
    <section>
        <% artists.forEach(artist => { %>
            <p>
                <a href="http://<%= artist.strFacebook %>">
                    <%= artist.strFacebook %>
                </a>
            </p>
            <% }) %>
    </section>
    <section>
        <% artists.forEach(artist => { %>
            <p>
                <a href="http://<%= artist.strTwitter %>">
                    <%= artist.strTwitter %>
                </a>
            </p>
            <% }) %>
    </section>
    <section>
        <% artists.forEach(artist => { %>
            <p>
                <%= artist.strBiographyEN %>
            </p>
            <% }) %>
    </section>
</div>